@model ProductAddViewModel

<h1>Product Page</h1>
<div>
    @using (Html.BeginForm("Add", "Product", FormMethod.Post)){
        <div class="form-group">
            <label asp-for="Product.Name" class="form-label">Product: </label>
            @Html.TextBoxFor(m => m.Product.Name, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label asp-for="Product.Price" class="form-label">Price: </label>
            @Html.TextBoxFor(m => m.Product.Price, new { @type = "number", step="any" })
        </div>
        <div>
            <label asp-for="Product.Description" class="form-label"></label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Product.Category" class="form-label"></label>
            @Html.DropDownListFor(m => m.Product.CategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryName"), new {@class = "form-select"})
        </div>
        <div class="form-check">
            <label asp-for="Product.IsFeaturedProduct" class="form-check-label"></label>
            @Html.CheckBoxFor(m => m.Product.IsFeaturedProduct, new {@class = "form-check-input"})
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add new Product</button>
        </div>
    }
</div>
