@model Product

<h3 class="my-5">
	@Model.Name
</h3>

<div class="row gx-5">
	<div class="col-7">
		<p>@Model.Description</p>
		<h3 class="pull-righ">@Model.Price.ToString("c")</h3>
		<div class="addToCart">
			<p class="button">
				<a class="btn btn-secondary"
				   asp-controller="ShoppingCart"
				   asp-action="AddToShoppingCart"
				   asp-route-productId="@Model.ProductId">Add to cart</a>
			</p>
		</div>
	</div>
</div>